  <nav class="navbar navbar-expand-lg navbar-light bg-white position-fixed container-fluid mb-5">
    <a class="navbar-brand ml-5" href="#"><img src="../assets/images/logo.png" class="logo-header img-contain" alt="logo"></a>
    <button class="navbar-toggler mr-5 bg-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="primerItem collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="middle nav-item active p-2">
          <a class="nav-link text-reset p-3" [routerLink]="['/homepage']" routerLinkActive="activo">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="middle nav-item active p-2">
          <a class="nav-link text-reset p-3" [routerLink]="['/restaurante1']" routerLinkActive="activo">
            Restaurantes
          </a>
        </li>
        <li class="middle nav-item active p-2">
            <a class="nav-link text-reset p-3" [routerLink]="['/menus']" routerLinkActive="activo">Menu's</a>
        </li>
        <li class="middle nav-item active p-2">
            <a class="nav-link text-reset p-3" [routerLink]="['/galeria']" routerLinkActive="activo">Galería</a>
          </li>
          <li class="nav-item dropdown mt-4 sobreNosotros">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sobre nosotros
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item p-2" [routerLink]="['/historia']">Historia</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item p-2" [routerLink]="['/equipo']">Equipo</a>
            </div>
          </li>
        </ul>
    </div>
  </nav>

<div class="header-container">

  <img src="../assets/images/header.png" id="img-header" alt="header">

</div>

<router-outlet></router-outlet>

  <div class="row footer mt-3 justify-content-center">
    <div class="col-xs-12 col-lg-2 footer-logo-container mx-xs-auto"><img src="../assets/images/logo.png" class="footer-logo img-contain" alt="logo"></div>
    <div class="col-xs-12 col-lg-3 pl-lg-5 mt-3">
      <div class="row p-1 footer-size text-center justify-content-center"><span><b>LO DE CHRIS</b> - HAMBURGUESERÍA ARTESANAL</span></div>
      <div class="row p-1 footer-size text-center justify-content-center"><span><b>Via Laietana 65</b>, Barcelona -<b> 934 535 698</b></span></div>
      <div class="row p-1 footer-size text-center justify-content-center"><span><b>Carrer de Estruc 8</b>, Barcelona -<b> 932 856 521</b></span></div>
    </div>
    <div class="col-sm-12 col-lg-2 mt-3">
      <div class="row p-1 text-center footer-size justify-content-center"><b>Viernes y sábado:</b></div>
      <div class="row p-1 text-center footer-size justify-content-center">12:00 - 02:00</div>
      <div class="row p-1 text-center footer-size justify-content-center"><b>Domingo a jueves:</b></div>
      <div class="row p-1 text-center footer-size justify-content-center">12:00 - 00:00</div>
    </div>
    <div class="col-sm-12 col-lg-2">
      <div class="row justify-content-center logo-container mt-2 ml-lg-5 pl-lg-5">
        <div class="col-lg-4 footer-logos"><img src="../assets/images/logo-facebook.png" class="img-footer-logos img-contain" alt="fb-logo"></div>
        <div class="col-lg-4 footer-logos"><img src="../assets/images/instagram-logo.png" class="img-footer-logos img-contain" alt="wpp-logo"></div>
        <div class="col-lg-4 footer-logos"><img src="../assets/images/whatsapp-logo.jpg" class="img-footer-logos img-contain" alt="insta-logo"></div>
      </div>
    </div>
  </div><br>