* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logo-header {
    width: 70px;
}

.primerItem {
    margin-left: 500px;
}

.sobreNosotros {
    margin-left: 400px;
}

.sobreNosotros:hover {
    text-decoration: underline;
}

.middle {
    text-transform: uppercase;
    border: 1px transparent solid;
    border-radius: 10px;
}

.middle:hover {
    text-decoration: underline;
}

.activo {
    color: white !important;
    border: 1px black solid;
    border-radius: 10px;
    text-decoration: underline;
    background-color: black;
}

.header {
    width: 100%;
    height: 500px;
}

header, img {
    height: 100%;
    width: 100%;
    object-fit: cover !important;
}

div, img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.footer {
    max-height: 100px;
}

.logo-container {
    height: 50px;
}

.footer-logo-container {
    max-width: 170px;
    margin-right: 140px;
}

.footer-logo {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.footer-logos {
    width: 100px;
    margin-top: 25px;
}

.img-footer-logos {
    cursor: pointer;
}