<div class="container bg-light mt-5">
    <div class="row justify-content-around">
        <div class="col-lg-6 col-sm-12 m-2">
            <div class="row justify-content-center border mt-2">
                <h4 class="text-center change-font pt-4 pb-1"><span class="fa fa-star"></span> La mejor hamburguesería en Barcelona <span class="fa fa-star"></span></h4>
                <h3 class="change-font text-center"><b>HAMBURGUESAS ARTESANALES</b></h3>
                <h4 class="change-font text-center">- 100% Gourmet, deliciosas y caceras -</h4>
                <p class="px-5 py-4 text-center">Hamburguesas caseras acompañadas de pan horneado cada día y cocinadas a la parrilla una a una e ingredientes frescos de kilómetro cero seleccionados personalmente por nuestro chef, son el simple secreto para lograr de este tradicional bocado un experiencia gourmet única. Situados cerca del centro tenemos nuestros locales trendy ambientado en un estilo vintage industrial donde te sentirás a gusto, para disfrutar de <b>las mejores hamburguesas artesanales</b> de la ciudad!</p>
            </div>
            <div class="row justify-content-center border mb-lg-2 py-2">
                <div class="col-sm-12 col-lg-6 py-lg-3">
                    <div class="row text-center justify-content-center"><span><i class="fa fa-map-marker" aria-hidden="true"></i>   Via Laietana 65, Barcelona</span></div>
                    <div class="row text-center justify-content-center mt-1"><span><i class="fa fa-map-marker" aria-hidden="true"></i>   Carrer de Estruc 8, Barcelona</span></div>
                </div>
                
            </div>
        </div>
        <div class="col-lg-5 col-sm-12 text-center border m-2 py-lg-2 mt-lg-3 mb-3">
            <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item image-container active" data-interval="10000">
                    <img [src]="this.homepageImages[0].image" class="homepage-images" alt="image1">
                  </div>
                  <div class="carousel-item image-container" data-interval="10000">
                    <img [src]="this.homepageImages[1].image" class="homepage-images" alt="image2">
                  </div>
                  <div class="carousel-item image-container">
                    <img [src]="this.homepageImages[2].image" data-interval="10000" class="homepage-images" alt="image3">
                  </div>
                </div>
                <a class="carousel-control-prev bg-dark" href="#carouselExampleInterval" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next bg-dark" href="#carouselExampleInterval" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
        </div>
    </div>
</div>
