<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="../../assets/images/restaurant-logo.png" width="100px" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="middle nav-item active primerItem p-2">
          <a class="nav-link text-reset" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="middle nav-item dropdown active ml-5 p-2">
          <a class="nav-link dropdown-toggle text-reset" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Restaurantes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Primero</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Segundo</a>
          </div>
        </li>
        <li class="middle nav-item active ml-5 p-2">
            <a class="nav-link text-reset" href="#">Menu's</a>
        </li>
        <li class="middle nav-item active ml-5 p-2">
            <a class="nav-link text-reset" href="#">Galería</a>
          </li>
        <li class="nav-item sobreNosotros">
            <a class="nav-link" href="#">Sobre Nosotros</a>
        </li>
      </ul>
    </div>
  </nav>
