<div class="container bg-light mt-5">
    <div class="row py-4">
        <div class="col-lg-3 col-sm-12">
            <div class="contenedor-persona p-2 m-auto">
                <img src="../../assets/images/persona1.jpg" alt="equipo">
            </div>
            <h4 class="text-center">Eduardo Correas</h4>
            <p class="text-center">Repartidor</p>
        </div>

        <div class="col-lg-3 col-sm-12">
            <div class="contenedor-persona p-2 m-auto">
                <img src="../../assets/images/persona2.jpg" alt="equipo">
            </div>
            <h4 class="text-center">Agustin Olcese</h4>
            <p class="text-center">Camarero</p>
        </div>

        <div class="col-lg-3 col-sm-12">
            <div class="contenedor-persona p-2 m-auto">
                <img src="../../assets/images/persona3.jpg" alt="equipo">
            </div>
            <h4 class="text-center">Pablo Darruspe</h4>
            <p class="text-center">Camarero</p>
        </div>

        <div class="col-lg-3 col-sm-12">
            <div class="contenedor-persona p-2 m-auto">
                <img src="../../assets/images/persona4.jpg" alt="equipo">
            </div>
            <h4 class="text-center">Romina Lamidozo</h4>
            <p class="text-center">Cheff</p>
        </div>

    </div>
    <div class="row py-4">
        <div class="col-lg-3 col-sm-12">
            <div class="contenedor-persona p-2 m-auto">
                <img src="../../assets/images/persona5.jpg" alt="equipo">
            </div>
            <h4 class="text-center">Gianluca Maccarino</h4>
            <p class="text-center">Cheff</p>
        </div>

        <div class="col-lg-3 col-sm-12">
            <div class="contenedor-persona p-2 m-auto">
                <img src="../../assets/images/persona6.jpg" alt="equipo">
            </div>
            <h4 class="text-center">Tobias Cao</h4>
            <p class="text-center">Cheff</p>
        </div>

        <div class="col-lg-3 col-sm-12">
            <div class="contenedor-persona p-2 m-auto">
                <img src="../../assets/images/persona7.jpg" alt="equipo">
            </div>
            <h4 class="text-center">Camila Saints</h4>
            <p class="text-center">Cheff</p>
        </div>

        <div class="col-lg-3 col-sm-12">
            <div class="contenedor-persona p-2 m-auto">
                <img src="../../assets/images/persona8.jpg" alt="equipo">
            </div>
            <h4 class="text-center">Antonela Bauducco</h4>
            <p class="text-center">Camarera</p>
        </div>
    </div>
</div>